* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    }
    

body{
    font-size: 62.5%;
    background: #214C5E;
    color: white;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}