@media (max-width: 375.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
    
            #container__left{
                max-width: initial;
                left: initial;
                width: 100%;
                height: 20rem;
    
                #left__img{
                    width: 110%;
                    max-width: initial;
                    left: initial;
                    height: 100%;
                }
            }

            #container__right{
                width: 100%;
                height: 100%;

                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-left: 0;

                    #box-list__title{
                        margin-bottom: 20px;
                    }

                    
                    #box-list__episodes{
                        overflow: initial;
                        max-height: 160vh;
        
                        .episode__item{

                            a{
                                flex-direction: column;

                                .episode__about{
                                    max-width: 95%;
                                    text-align: center;
                                    margin-left: 0;

                                    h1{
                                        font-size: 1rem;
                                    }

                                    p{
                                        display: none;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }

            
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;
            flex-wrap: initial;

            #btnClose{
                right: 10px;
                top: 10px;
                padding: 8px;
                img{
                    width: 1rem;
                }
            }

            .episode__infomartions{
                flex-wrap: wrap;
                align-content: flex-start;
                max-height: 75%;

                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 30vh;
                    
                    img{
                        width: 110%;
                        height: 30vh;
                        position: absolute;
                    }
                }

                .episode__container-text{
                    max-width: 100%;
                    overflow: hidden;
                    margin: 0 20px 0 20px;
                    justify-content: initial;

                    h1{
                        width: 100%;
                        font-size: 1.2rem;
                        margin: 20px auto;
                    }


                    .container__read-more{
                        font-size: 1rem;
                        margin-top: 5px;
                        img{
                            width: 1rem;
                        }
                    }

                    p{
                        margin-top: 5px;
                        width: 100%;
                        font-size: 1.1rem;
                        overflow: auto;
                        
                    }

                    span{
                        margin-top: 5%;
                    }
                }
            }

            

            .container__player{
                height: 7.5rem;
                .player{
                    flex-direction: column;
                    width: 100%;
                    height: 100px;

                    .player__controls{
                        width: 9rem;

                        #btnPrevious{
                            padding: 9px;
                        }

                        #btnPlay{
                            padding: 10px;
                            img{
                                width: 1.5rem;
                            }
                        }

                        #btnNext{
                            padding: 9px;
                        }
                    }
                }
                .container__progress-audio{
                    width: 100%;
                    justify-content: space-between;

                    .container__progressBar{
                        width: 70%;
                        

                        .progressBar{
                            width: 100%;
                            height: 5px;
                        }
                    }
                }
                
            }
        }
    }
}

// Dispositivos extra small (telefones em modo retrato, com menos de 576px)
@media (min-width: 376px) and (max-width: 575.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
    
            #container__left{
                max-width: initial;
                left: initial;
                width: 100%;
                height: 20rem;
    
                #left__img{
                    width: 110%;
                    max-width: initial;
                    left: initial;
                    height: 100%;
                }
            }

            #container__right{
                width: 100%;

                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 30px;

                    #box-list__title{
                        margin-bottom: 20px;
                    }

                    #box-list__episodes{
                        overflow: initial;
                        max-height: 120vh;
        
                        .episode__item{

                            a{

                                .episode__about{
                                    max-width: 60%;
                                }
                            }
                        }
                    }
                }
            }

            
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;
            flex-wrap: initial;
            #btnClose{
                right: 12px;
                top: 12px;
                padding: 9px;
                img{
                    width: 1rem;
                }
            }

            .episode__infomartions{
                flex-wrap: wrap;
                overflow: hidden;
                max-height: 90vh;

                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 40vh;
                    
                    img{
                        width: 110%;
                        height: 37vh;
                        position: absolute;
                    }
                }

                .episode__container-text{
                    max-width: 100%;
                    overflow: hidden;
                    margin: 20px 20px 5px;
                    height: 75%;
                    h1{
                        width: 100%;
                        font-size: 1.5rem;
                    }

                    p{
                        width: 100%;
                        overflow: auto;
                    }
                }
            }

            

            .container__player{
                height: 8rem;
                .player{
                    flex-direction: column;
                    width: 100%;
                }
                .container__progress-audio{
                    width: 100%;
                    justify-content: space-between;

                    .container__progressBar{
                        width: 70%;
                        

                        .progressBar{
                            width: 100%;
                            height: 5px;
                        }
                    }
                }
                
            }
        }
    }
}

// Dispositivos small (telefones em modo paisagem, com 576px ou mais)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
    
            #container__left{
                max-width: initial;
                left: initial;
                width: 100%;
    
                #left__img{
                    width: 100%;
                    max-width: initial;
                    left: initial;
                }
            }
            #container__right{
                width: 100%;

                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 30px;

                    #box-list__title{
                        margin-bottom: 20px;
                    }

                    #box-list__episodes{
                        overflow: initial;
                        max-height: 120vh;
        
                        .episode__item{

                            a{
                                width: fit-content;
                                .episode__about{
                                    max-width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100%;
            margin: 0;

            .episode__infomartions{
                flex-wrap: wrap;
                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 55vh;
                    
                    
                    img{
                        width: 105%;
                        height: 55vh;
                        position: absolute;
                    }
                }
                .episode__container-text{
                    max-width: 100%;

                    h1{
                        width: 100%;
                        font-size: 1.6rem;
                    }

                    p{
                        width: 100%;
                        font-size: 1.2rem;
                    }
                }
            }

            

            .container__player{
                margin-top: 2rem;
                .player{
                    flex-direction: column;
                    width: 100%;
                }
                .container__progress-audio{
                    width: 100%;
                    justify-content: space-between;

                    .container__progressBar{
                        width: 70%;

                        .progressBar{
                            width: 100%;
                        }
                    }
                }
                
            }
        }
    }
}

// Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
            #container__left{
                max-width: initial;
                left: initial;
                width: 100%;
    
                #left__img{
                    width: 100%;
                    max-width: initial;
                    left: initial;
                }
            }
            #container__right{
                width: 100%;

                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 30px;

                    #box-list__title{
                        margin-bottom: 20px;
                    }

                    #box-list__episodes{
                        overflow: initial;
                        max-height: 120vh;
        
                        .episode__item{

                            a{
                                width: fit-content;
                                .episode__about{
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;

            .episode__infomartions{
                flex-wrap: wrap;
                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 50vh;
                    
                    
                    img{
                        width: 110%;
                        height: 50vh;
                        position: absolute;
                    }
                }
                .episode__container-text{
                    max-width: 100%;

                    h1{
                        width: 100%;
                        font-size: 1.7rem;
                    }

                    p{
                        width: 100%;
                        font-size: 1.3rem;
                    }
                }
            }

            

            .container__player{
                .player{
                    flex-direction: column;
                    width: 100%;
                }
                .container__progress-audio{
                    width: 100%;
                    justify-content: space-between;

                    .container__progressBar{
                        width: 70%;

                        .progressBar{
                            width: 100%;
                        }
                    }
                }
                
            }
        }
    }
}

// Dispositivos large (desktops com 992px ou mais)
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        .container__episode{

            .episode__infomartions{
                max-height: 45vh;
            }
        }
    }
}

// Dispositivos extra large (desktops grandes com 1200px ou mais)
@media (min-width: 1200px) {
    body{
        .container__episode{

            .episode__infomartions{
                max-height: 45vh;
            }
        }
    }
}