@media (max-width: 439.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
    
            #container__left{
                max-width: initial;
                left: initial;
                width: 50rem;
                height: 33.1rem;
    
                #left__img{
                    width: 50rem;
                    max-width: initial;
                    left: initial;
                    height: auto;
                }

                h1{
                    margin-left: 3rem;
                    left: 0;
                }

                p{
                    margin-left: 3rem;
                    left: 0;
                }


            }

            #container__right{
                width: 100%;
                height: 100%;
                
                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 3rem;
                    display: flex;
                    margin-left: 3rem;
                    flex-direction: column;

                    #box-list__title{
                        margin-bottom: 2rem;
                    }

                    
                    #box-list__episodes{
                        overflow: initial;
                        max-height: 160vh;
        
                        .episode__item{

                            a{

                                .episode__about{
                                    max-width: 55%;
                                    margin-left: 10px;

                                    h1{
                                        font-size: 1rem;
                                    }

                                    p{

                                    }
                                }
                                
                            }
                        }
                    }
                }
            }

            
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;
            max-width: initial;

            .episode__infomartions{
                flex-wrap: wrap;
                height: 50vh;
                margin-top: 0;
                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 26.4rem;
                    
                    
                    img{
                        width: 110%;
                        height: 100%;
                        position: absolute;
                    }
                }
                .episode__container-text{
                    max-width: 100%;
                    margin-left: 3rem;


                    h1{
                        width: 95%;
                        font-size: 1.4rem;
                        margin: 4rem 0 -1rem 0;
                    }

                    p{
                        width: 95%;
                        font-size: 1.4rem;
                    }

                    .container__read-more{
                        margin: -2rem 0 0 0;
                        span{
                            font-size: 1.4rem;

                        }

                        img{
                            width: 1.4rem;
                        }
                    }


                    
                    #participants{
                        font-size: 1rem;
                    }
                }
            }

            #btnClose{
                padding: 1rem;
                img{
                    width: 1.5rem;
                }
            }

            .container__player{
                height: 12.6rem;
                .player{
                    flex-direction: column;
                    width: 100%;

                    .player__controls{
                        width: 17rem;
                        #btnPrevious{
                            padding: 1.5rem;
                            img{
                                width: 1.5rem;
                            }
                        }

                        #btnPlay{
                            padding: 2rem;
                            img{
                                width: 2rem;
                            }
                        }
    
                        #btnNext{
                            padding: 1.5rem;
                            img{
                                width: 1.5rem;
                            }
                        }
                    }
                    .container__progress-audio{
                        width: 100%;
                        justify-content: space-between;
    
                        .currentTime{
                            font-size: 1.6rem;
                        }
    
                        .duration{
                            font-size: 1.6rem;
                        }
    
                        .container__progressBar{
                            width: 70%;
    
                            .progressBar{
                                width: 100%;
                            }
                        }
                    }
                }
                
                
            }
        }
    }
}

// Dispositivos extra small (telefones em modo retrato, com menos de 576px)
@media (min-width: 440px) and (max-width: 575.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
    
            #container__left{
                max-width: initial;
                left: initial;
                width: 100%;
                height: 30rem;
    
                #left__img{
                    width: 120%;
                    max-width: initial;
                    left: initial;
                    height: auto
                }

                h1{
                    margin-left: 3rem;
                    left: 0;
                }

                p{
                    margin-left: 3rem;
                    left: 0;
                }
            }

            #container__right{
                width: 100%;

                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 30px;

                    #box-list__title{
                        margin-bottom: 20px;
                    }

                    #box-list__episodes{
                        overflow: initial;
                        max-height: 120vh;
        
                        .episode__item{

                            a{

                                .episode__about{
                                    max-width: 60%;


                                }
                            }
                        }
                    }
                }
            }

            
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;
            max-width: initial;

            .episode__infomartions{
                flex-wrap: wrap;
                height: 45vh;
                margin-top: 0;
                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 40vh;
                    
                    
                    img{
                        width: 110%;
                        height: auto;
                        position: absolute;
                    }
                }
                .episode__container-text{
                    max-width: 100%;
                    margin-left: 3rem;


                    h1{
                        width: 95%;
                        font-size: 2rem;
                        margin: 4rem 0 -1rem 0;
                    }

                    p{
                        width: 95%;
                        font-size: 2rem;
                    }

                    .container__read-more{
                        margin:0;
                        span{
                            font-size: 2rem;

                        }

                        img{
                            width: 2rem;
                        }
                    }


                    
                    #participants{
                        font-size: 1.5rem;
                    }
                }
            }

            #btnClose{
                padding: 1.2rem;
                img{
                    width: 2.2rem;
                }
            }

            .container__player{
                height: 13rem;
                .player{
                    flex-direction: column;
                    width: 100%;
                }
                .container__progress-audio{
                    width: 100%;
                    justify-content: space-between;

                    .currentTime{
                        font-size: 2rem;
                    }

                    .container__progressBar{
                        width: 70%;

                        .progressBar{
                            width: 100%;
                        }
                    }
                }
                
            }
        }
    }
}

// Dispositivos small (telefones em modo paisagem, com 576px ou mais)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
            max-width: initial;
            #container__left{
                max-width: initial;
                left: initial;
                width: 100%;
                height: 40rem;

                h1{
                    font-size: 5.4rem;
                    left: 0;
                    margin-left: 3rem;
                }

                p{
                    font-size: 2rem;
                    left: 0;
                    margin-left: 3rem;
                }
    
                #left__img{
                    width: 110%;
                    max-width: initial;
                    left: initial;
                    height: auto;
                }
            }
            #container__right{
                width: 100%;

                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 30px;

                    #box-list__title{
                        margin-bottom: 2rem;
                        font-size: 1.1rem;
                    }

                    #box-list__episodes{
                        overflow: initial;
                        max-height: 120vh;
        
                        .episode__item{

                            a{
                                margin-bottom: 3rem;
                                .episode__container-img{
                                    width: 12rem;
                                    height: 12rem;
                                    .episode__img{
                                        width: 18rem;
                                    }
                                }
                                .episode__about{
                                    max-width: 100%;
                                    width: 75%;

                                    .episode__title{
                                        font-size: 2.2rem;
                                    }

                                    .episode__duration{
                                        font-size: rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;
            max-width: initial;

            .episode__infomartions{
                flex-wrap: wrap;
                height: 45vh;
                margin-top: 0;
                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 45vh;
                    
                    
                    img{
                        width: 110%;
                        height: auto;
                        position: absolute;
                    }
                }
                .episode__container-text{
                    max-width: 100%;
                    margin-left: 3rem;


                    h1{
                        width: 95%;
                        font-size: 2.5rem;
                        margin: 4rem 0 -1rem 0;
                    }

                    p{
                        width: 95%;
                        font-size: 2.5rem;
                    }

                    .container__read-more{
                        margin: -3rem 0 0 0;
                        span{
                            font-size: 2.5rem;

                        }

                        img{
                            width: 2.5rem;
                        }
                    }


                    
                    #participants{
                        font-size: 1.7rem;
                    }
                }
            }

            #btnClose{
                padding: 1.2rem;
                img{
                    width: 2.2rem;
                }
            }

            .container__player{
                height: 15rem;
                .player{
                    flex-direction: column;
                    width: 100%;

                    .player__controls{
                        width: 23rem;
                        #btnPrevious{
                            padding: 2rem;
                            img{
                                width: 2rem;
                            }
                        }

                        #btnPlay{
                            padding: 3rem;
                            img{
                                width: 3rem;
                            }
                        }
    
                        #btnNext{
                            padding: 2rem;
                            img{
                                width: 2rem;
                            }
                        }
                    }
                }
                .container__progress-audio{
                    width: 100%;
                    justify-content: space-between;

                    .currentTime{
                        font-size: 2rem;
                    }

                    .container__progressBar{
                        width: 70%;

                        .progressBar{
                            width: 100%;
                        }
                    }
                }

                
                
            }
        }
    }
}

// Dispositivos médios (tablets com 768px ou mais)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        .container{
            overflow: initial;
            margin: 0;
            max-width: initial;
            #container__left{
                max-width: initial;
                left: initial;
                width: 100%;
                height: 50vh;

                h1{
                    font-size: 5.4rem;
                    left: 0;
                    margin-left: 3rem;
                }

                p{
                    font-size: 2rem;
                    left: 0;
                    margin-left: 3rem;
                }
    
                #left__img{
                    width: 110%;
                    max-width: initial;
                    left: initial;
                    height: auto;
                }
            }
            #container__right{
                width: 100%;

                #about{
                    display: none;
                }

                #box-list{
                    margin-top: 30px;

                    #box-list__title{
                        margin-bottom: 2rem;
                        font-size: 1.2rem;
                    }

                    #box-list__episodes{
                        overflow: initial;
                        max-height: 120vh;
        
                        .episode__item{

                            a{
                                margin-bottom: 3rem;
                                .episode__container-img{
                                    width: 12rem;
                                    height: 12rem;
                                    .episode__img{
                                        width: 18rem;
                                    }
                                }
                                .episode__about{
                                    max-width: 100%;
                                    width: 75%;

                                    .episode__title{
                                        font-size: 2.4rem;
                                    }

                                    .episode__duration{
                                        font-size: 2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .container__episode{
            overflow: initial;
            max-height: initial;
            height: 100vh;
            margin: 0;
            max-width: initial;

            .episode__infomartions{
                flex-wrap: wrap;
                height: 50vh;
                margin-top: 0;
                .episode__container-img{
                    position: relative;
                    margin: 0;
                    border-radius: 0;
                    overflow: hidden;
                    width: 100%;
                    height: 45vh;
                    
                    
                    img{
                        width: 100%;
                        height: 50vh;
                        position: absolute;
                    }
                }
                .episode__container-text{
                    max-width: 100%;
                    margin-left: 3rem;


                    h1{
                        width: 95%;
                        font-size: 3rem;
                        margin: 4rem 0 -1rem 0;
                    }

                    p{
                        width: 95%;
                        font-size: 3rem;
                    }

                    .container__read-more{
                        margin: -3rem 0 0 0;
                        span{
                            font-size: 3rem;

                        }

                        img{
                            width: 3rem;
                        }
                    }


                    
                    #participants{
                        font-size: 2rem;
                    }
                }
            }

            #btnClose{
                padding: 1.5rem;
                img{
                    width: 2.5rem;
                }
            }

            .container__player{
                height: 15rem;
                .player{
                    flex-direction: column;
                    width: 100%;
                }
                .container__progress-audio{
                    width: 100%;
                    justify-content: space-between;

                    .currentTime{
                        font-size: 2rem;
                    }

                    .container__progressBar{
                        width: 70%;

                        .progressBar{
                            width: 100%;
                        }
                    }
                }
                
            }
        }
    }
}