* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-size: 62.5%;
  background: #214C5E;
  color: white;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  max-width: 60rem;
  margin: 18vh auto;
  max-height: 30rem;
  background: #27657F;
}

.container #container__left {
  position: relative;
  width: 20rem;
  overflow: hidden;
  height: 30rem;
}

.container #container__left #left__img {
  display: block;
  max-width: 50rem;
  width: 300%;
  height: 30rem;
  left: -15rem;
  position: absolute;
}

.container #container__left #img__gradient-bottom {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-100%, #D5B5A8), color-stop(50%, transparent));
  background: linear-gradient(to top, #D5B5A8 -100%, transparent 50%);
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
}

.container #container__left h1, .container #container__left p {
  position: absolute;
  color: white;
  left: 20px;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #5c5c5c;
  text-shadow: -1px 0px 4px gray;
}

.container #container__left h1 {
  bottom: 10%;
  font-size: 2.5rem;
  text-shadow: gray;
  font-style: italic;
}

.container #container__left p {
  bottom: 5%;
  font-size: 1rem;
  font-family: monospace;
}

.container #container__right {
  background: #27657F;
  width: 40rem;
}

.container #container__right #about {
  margin-left: 20px;
}

.container #container__right #about #about__title {
  margin: 20px 0 20px 0;
  font-size: 0.8rem;
  font-family: monospace;
  letter-spacing: 2.5px;
  color: rgba(255, 255, 255, 0.651);
}

.container #container__right #about #about__text {
  font-size: 1.5rem;
  letter-spacing: 0px;
  max-height: 70px;
  overflow: hidden;
  width: 85%;
  margin-bottom: 10px;
}

.container #container__right #about .container__read-more {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #container__right #about .container__read-more span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #49B7E6;
  font-size: 1.2rem;
  letter-spacing: 0px;
}

.container #container__right #about .container__read-more img {
  width: 1rem;
  margin-left: 0.5rem;
}

.container #container__right #box-list {
  margin-left: 20px;
  margin-top: 10px;
}

.container #container__right #box-list #box-list__title {
  font-size: 0.8rem;
  font-family: monospace;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.651);
  margin-bottom: 5px;
}

.container #container__right #box-list #box-list__episodes {
  max-height: 18.5rem;
  overflow: auto;
}

.container #container__right #box-list #box-list__episodes::-webkit-scrollbar {
  width: 3px;
  overflow: hidden;
}

.container #container__right #box-list #box-list__episodes::-webkit-scrollbar-track {
  background: transparent;
}

.container #container__right #box-list #box-list__episodes::-webkit-scrollbar-thumb {
  background: #E5DCD7;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
}

.container #container__right #box-list #box-list__episodes .episode__item a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #container__right #box-list #box-list__episodes .episode__item a .episode__container-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

.container #container__right #box-list #box-list__episodes .episode__item a .episode__container-img .episode__img {
  width: 10rem;
  position: absolute;
}

.container #container__right #box-list #box-list__episodes .episode__item a .episode__about {
  margin-left: 15px;
  max-width: 30rem;
}

.container #container__right #box-list #box-list__episodes .episode__item a .episode__about .episode__title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container #container__right #box-list #box-list__episodes .episode__item a .episode__about .episode__duration {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

:root {
  --seek-before-width: 0;
}

.container__episode {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  max-width: 60rem;
  width: 100%;
  height: 35rem;
  margin: 18vh auto;
  max-height: 30rem;
  background: #27657F;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.container__episode .episode__infomartions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: initial;
      flex-wrap: initial;
}

.container__episode .episode__infomartions .episode__container-img {
  position: relative;
  margin: 30px 0 0 40px;
  border-radius: 10px;
  overflow: hidden;
  width: 50rem;
  height: 18rem;
}

.container__episode .episode__infomartions .episode__container-img img {
  width: 110%;
  height: 100%;
  position: absolute;
}

.container__episode .episode__infomartions .episode__container-text {
  margin: 30px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 18rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: normal;
  overflow: auto;
}

.container__episode .episode__infomartions .episode__container-text h1 {
  font-size: 2rem;
  width: 80%;
}

.container__episode .episode__infomartions .episode__container-text p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  max-height: 76px;
  overflow: auto;
  width: 80%;
}

.container__episode .episode__infomartions .episode__container-text .container__read-more {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__episode .episode__infomartions .episode__container-text .container__read-more span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #49B7E6;
  font-size: 1.2rem;
  letter-spacing: 0px;
  margin: 0;
}

.container__episode .episode__infomartions .episode__container-text .container__read-more img {
  width: 1rem;
  margin-left: 0.5rem;
}

.container__episode .episode__infomartions .episode__container-text span {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.651);
  font-style: italic;
}

.container__episode .container__player {
  background: #15475B;
  max-width: 60rem;
  width: 100%;
  height: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__episode .container__player .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__episode .container__player .player .player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13rem;
}

.container__episode .container__player .player .player__controls #btnPrevious {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1rem;
  background: white;
  border-radius: 50%;
  padding: 15px;
  width: 1rem;
  cursor: pointer;
}

.container__episode .container__player .player .player__controls #btnPrevious img {
  width: 1rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container__episode .container__player .player .player__controls #btnPlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #329ECB;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
}

.container__episode .container__player .player .player__controls #btnPlay img {
  width: 2rem;
}

.container__episode .container__player .player .player__controls #btnNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  padding: 15px;
  width: 1rem;
}

.container__episode .container__player .player .player__controls #btnNext img {
  width: 1rem;
}

.container__episode .progressBar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #446C7C;
  border-radius: 10px;
  position: relative;
  width: 34rem;
  height: 8px;
  outline: none;
}

.container__episode .progressBar::before {
  content: '';
  height: 8px;
  width: var(--seek-before-width);
  background-color: #319BC8;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.container__episode .progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  border: none;
  background-color: #1aaeee;
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  visibility: hidden;
}

.container__episode .progressBar:hover::-webkit-slider-thumb {
  visibility: visible;
}

.container__episode .progressBar:active::-webkit-slider-thumb {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: white;
}

.container__episode .container__progress-audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__episode .container__progress-audio .duration {
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0 20px 0 20px;
  color: rgba(255, 255, 255, 0.651);
}

.container__episode .container__progress-audio .currentTime {
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0 20px 0 20px;
  color: rgba(255, 255, 255, 0.651);
}

.container__episode #btnClose {
  padding: 10px;
  background: #27657F;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 2;
}

.container__episode #btnClose img {
  width: 1.3rem;
  vertical-align: middle;
}

@-webkit-keyframes fade {
  0% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

@media (max-width: 375.98px) {
  body .container {
    overflow: initial;
    margin: 0;
  }
  body .container #container__left {
    max-width: initial;
    left: initial;
    width: 100%;
    height: 20rem;
  }
  body .container #container__left #left__img {
    width: 110%;
    max-width: initial;
    left: initial;
    height: 100%;
  }
  body .container #container__right {
    width: 100%;
    height: 100%;
  }
  body .container #container__right #about {
    display: none;
  }
  body .container #container__right #box-list {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
  body .container #container__right #box-list #box-list__title {
    margin-bottom: 20px;
  }
  body .container #container__right #box-list #box-list__episodes {
    overflow: initial;
    max-height: 160vh;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a .episode__about {
    max-width: 95%;
    text-align: center;
    margin-left: 0;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a .episode__about h1 {
    font-size: 1rem;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a .episode__about p {
    display: none;
  }
  body .container__episode {
    overflow: initial;
    max-height: initial;
    height: 100%;
    margin: 0;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
  body .container__episode #btnClose {
    right: 10px;
    top: 10px;
    padding: 8px;
  }
  body .container__episode #btnClose img {
    width: 1rem;
  }
  body .container__episode .episode__infomartions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    max-height: 75%;
  }
  body .container__episode .episode__infomartions .episode__container-img {
    position: relative;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    height: 30vh;
  }
  body .container__episode .episode__infomartions .episode__container-img img {
    width: 110%;
    height: 30vh;
    position: absolute;
  }
  body .container__episode .episode__infomartions .episode__container-text {
    max-width: 100%;
    overflow: hidden;
    margin: 0 20px 0 20px;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  body .container__episode .episode__infomartions .episode__container-text h1 {
    width: 100%;
    font-size: 1.2rem;
    margin: 20px auto;
  }
  body .container__episode .episode__infomartions .episode__container-text .container__read-more {
    font-size: 1rem;
    margin-top: 5px;
  }
  body .container__episode .episode__infomartions .episode__container-text .container__read-more img {
    width: 1rem;
  }
  body .container__episode .episode__infomartions .episode__container-text p {
    margin-top: 5px;
    width: 100%;
    font-size: 1.1rem;
    overflow: auto;
  }
  body .container__episode .episode__infomartions .episode__container-text span {
    margin-top: 5%;
  }
  body .container__episode .container__player {
    height: 7.5rem;
  }
  body .container__episode .container__player .player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100px;
  }
  body .container__episode .container__player .player .player__controls {
    width: 9rem;
  }
  body .container__episode .container__player .player .player__controls #btnPrevious {
    padding: 9px;
  }
  body .container__episode .container__player .player .player__controls #btnPlay {
    padding: 10px;
  }
  body .container__episode .container__player .player .player__controls #btnPlay img {
    width: 1.5rem;
  }
  body .container__episode .container__player .player .player__controls #btnNext {
    padding: 9px;
  }
  body .container__episode .container__player .container__progress-audio {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar {
    width: 70%;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar .progressBar {
    width: 100%;
    height: 5px;
  }
}

@media (min-width: 376px) and (max-width: 575.98px) {
  body .container {
    overflow: initial;
    margin: 0;
  }
  body .container #container__left {
    max-width: initial;
    left: initial;
    width: 100%;
    height: 20rem;
  }
  body .container #container__left #left__img {
    width: 110%;
    max-width: initial;
    left: initial;
    height: 100%;
  }
  body .container #container__right {
    width: 100%;
  }
  body .container #container__right #about {
    display: none;
  }
  body .container #container__right #box-list {
    margin-top: 30px;
  }
  body .container #container__right #box-list #box-list__title {
    margin-bottom: 20px;
  }
  body .container #container__right #box-list #box-list__episodes {
    overflow: initial;
    max-height: 120vh;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a .episode__about {
    max-width: 60%;
  }
  body .container__episode {
    overflow: initial;
    max-height: initial;
    height: 100%;
    margin: 0;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }
  body .container__episode #btnClose {
    right: 12px;
    top: 12px;
    padding: 9px;
  }
  body .container__episode #btnClose img {
    width: 1rem;
  }
  body .container__episode .episode__infomartions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    max-height: 90vh;
  }
  body .container__episode .episode__infomartions .episode__container-img {
    position: relative;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    height: 40vh;
  }
  body .container__episode .episode__infomartions .episode__container-img img {
    width: 110%;
    height: 37vh;
    position: absolute;
  }
  body .container__episode .episode__infomartions .episode__container-text {
    max-width: 100%;
    overflow: hidden;
    margin: 20px 20px 5px;
    height: 75%;
  }
  body .container__episode .episode__infomartions .episode__container-text h1 {
    width: 100%;
    font-size: 1.5rem;
  }
  body .container__episode .episode__infomartions .episode__container-text p {
    width: 100%;
    overflow: auto;
  }
  body .container__episode .container__player {
    height: 8rem;
  }
  body .container__episode .container__player .player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body .container__episode .container__player .container__progress-audio {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar {
    width: 70%;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar .progressBar {
    width: 100%;
    height: 5px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body .container {
    overflow: initial;
    margin: 0;
  }
  body .container #container__left {
    max-width: initial;
    left: initial;
    width: 100%;
  }
  body .container #container__left #left__img {
    width: 100%;
    max-width: initial;
    left: initial;
  }
  body .container #container__right {
    width: 100%;
  }
  body .container #container__right #about {
    display: none;
  }
  body .container #container__right #box-list {
    margin-top: 30px;
  }
  body .container #container__right #box-list #box-list__title {
    margin-bottom: 20px;
  }
  body .container #container__right #box-list #box-list__episodes {
    overflow: initial;
    max-height: 120vh;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a .episode__about {
    max-width: 75%;
  }
  body .container__episode {
    overflow: initial;
    max-height: initial;
    height: 100%;
    margin: 0;
  }
  body .container__episode .episode__infomartions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .container__episode .episode__infomartions .episode__container-img {
    position: relative;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    height: 55vh;
  }
  body .container__episode .episode__infomartions .episode__container-img img {
    width: 105%;
    height: 55vh;
    position: absolute;
  }
  body .container__episode .episode__infomartions .episode__container-text {
    max-width: 100%;
  }
  body .container__episode .episode__infomartions .episode__container-text h1 {
    width: 100%;
    font-size: 1.6rem;
  }
  body .container__episode .episode__infomartions .episode__container-text p {
    width: 100%;
    font-size: 1.2rem;
  }
  body .container__episode .container__player {
    margin-top: 2rem;
  }
  body .container__episode .container__player .player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body .container__episode .container__player .container__progress-audio {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar {
    width: 70%;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar .progressBar {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body .container {
    overflow: initial;
    margin: 0;
  }
  body .container #container__left {
    max-width: initial;
    left: initial;
    width: 100%;
  }
  body .container #container__left #left__img {
    width: 100%;
    max-width: initial;
    left: initial;
  }
  body .container #container__right {
    width: 100%;
  }
  body .container #container__right #about {
    display: none;
  }
  body .container #container__right #box-list {
    margin-top: 30px;
  }
  body .container #container__right #box-list #box-list__title {
    margin-bottom: 20px;
  }
  body .container #container__right #box-list #box-list__episodes {
    overflow: initial;
    max-height: 120vh;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .container #container__right #box-list #box-list__episodes .episode__item a .episode__about {
    max-width: 100%;
  }
  body .container__episode {
    overflow: initial;
    max-height: initial;
    height: 100vh;
    margin: 0;
  }
  body .container__episode .episode__infomartions {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .container__episode .episode__infomartions .episode__container-img {
    position: relative;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    width: 100%;
    height: 50vh;
  }
  body .container__episode .episode__infomartions .episode__container-img img {
    width: 110%;
    height: 50vh;
    position: absolute;
  }
  body .container__episode .episode__infomartions .episode__container-text {
    max-width: 100%;
  }
  body .container__episode .episode__infomartions .episode__container-text h1 {
    width: 100%;
    font-size: 1.7rem;
  }
  body .container__episode .episode__infomartions .episode__container-text p {
    width: 100%;
    font-size: 1.3rem;
  }
  body .container__episode .container__player .player {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body .container__episode .container__player .container__progress-audio {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar {
    width: 70%;
  }
  body .container__episode .container__player .container__progress-audio .container__progressBar .progressBar {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body .container__episode .episode__infomartions {
    max-height: 45vh;
  }
}

@media (min-width: 1200px) {
  body .container__episode .episode__infomartions {
    max-height: 45vh;
  }
}
/*# sourceMappingURL=main.css.map */